@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;600;700;800&display=swap");
* {
	padding: 0;
	margin: 0;
	outline: 0;
}
body {
	text-align: center;
	color: #ffffff;
	font-family: "Shantell Sans", serif;
	background-color: #002c16c9;
}
